{
    "template": "Button",
    "name": "ButtonRecords",
    "components": {
        "RB2D": {
            "x_position": 5.5
        },
        "Text": {
            "text": "Records"
        },
        "Focus": {
            "row": 1,
            "column": 3
        },
        "Records": {
            "type": "ButtonToInfo",
            "menu": "Records"
        }
    }
}