{
    "template": "Button",
    "name": "ButtonLevels",
    "components": {
        "RB2D": {
            "x_position": -5.5
        },
        "Text": {
            "text": "Levels"
        },
        "Focus": {
            "row": 1,
            "column": 1
        },
        "Levels": {
            "type": "ButtonLevels"
        }
    }
}