{
    "template": "Button",
    "name": "ButtonReturn",
    "components": {
        "RB2D": {
            "y_position": -3.333
        },
        "Text": {
            "text": "Back"
        },
        "Focus": {
            "row": 4,
            "column": 1
        },
        "Return": {
            "type": "ButtonReturn"
        },
        "XBM": {
            "type": "ButtonManager",
            "screen": "Levels",
            "cur_row": 4
        }
    }
}