{
    "name": "Logo",
    "components": {
        "SR": {
            "type": "SpriteRenderer",
            "sprite": "ui/logo",
            "x_position": 0.525,
            "y_position": 3,
            "x_scale": 9.375,
            "y_scale": 9.375
        },
        "BM": {
            "type": "ButtonManager",
            "screen": "MainMenu"
        }
    }
}