{
    "name": "StaticData",
    "components": {
        "Music": {
            "type": "MusicManager"
        },
        "Level": {
            "type": "LevelData"
        },
        "Controller": {
            "type": "ControllerManager"
        }
    }
}